.Home {
    margin-top: 30vh;
    width: 35%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 50px 0px;

    .Content {
        width: 80%;
    }

    input {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    button {
        width: 100%;
    }
}